.tapbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: bottom 0.3s;
}

.tapbar__hidden {
  bottom: -60px;
}

.tapbar--list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(58px, 1fr));
  justify-content: space-between;
  align-items: center;
  min-height: 58px;
  margin: 0;
  padding: 0 20px;
  background-color: #FFFFFF;
  list-style: none;
  opacity: 0.95;
}

.tapbar--item {
  height: 100%;
}