.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 78px 1fr;
}

.card--title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 1;
  margin: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.card--title-text {
  display: inline-block;
  padding: 20px 19px;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 88.02%, rgba(255, 255, 255, 0) 100%);
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card--img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
}